<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar Empresa</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css"/>

</head>

<body class="bg-white dark:bg-gray-800">
<!-- navbar-->
<navbar th:replace="fragments/header_footer::navbar_empresas">
    NavBar viene desde otro archivo
</navbar>
<div class=" py-4 w-screen flex justify-center items-center">
    <div class="p-4 w-full max-w-sm bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700  items-center">
        <div>
            <form class="space-y-6" method="POST" th:action="@{/enterprises/{id}(id = *{id} ) }" th:object="${empresa}">
                <h5 class="text-xl font-medium text-gray-900 dark:text-white">Editar empresa</h5>
                <div>
                    <label for="identificador" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Identificador
                        único</label>

                    <input type="number" th:field="*{id}" id="identificador" th:value="*{id}"
                           aria-label="disabled input"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white cursor-not-allowed"
                           disabled>
                </div>
                <div>
                    <label for="nombreEmpresa"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nombre</label>
                    <input type="text" th:field="*{nombre}" id="nombreEmpresa" th:value="*{nombre}"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                           placeholder="Scrum Sprinters" required>
                </div>
                <div>
                    <label for="nitEmpresa" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">NIT</label>
                    <input type="number" th:field="*{nit}" id="nitEmpresa" th:value="*{nit}"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                           placeholder="123456789" required>
                </div>

                <div>
                    <label for="telefonoEmpresa" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Telefono</label>
                    <input type="text" th:field="*{telefono}" id="telefonoEmpresa" th:value="*{telefono}"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                           placeholder="57345612">
                </div>

                <div>
                    <label for="direccionEmpresa" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Dirección</label>
                    <input type="text" th:field="*{direccion}" id="direccionEmpresa" th:value="*{direccion}"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                           placeholder="Avenida 5 calle 2 Bogota DC" required>
                </div>




                <div class="flex items-start">
                    <div class="flex items-start">
                        <div class="flex items-center h-5">
                            <input id="remember" type="checkbox" value=""
                                   class="w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                                   required>
                        </div>
                        <label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Confirmar
                            acción</label>
                    </div>
                    <!--            <a href="#" class="ml-auto text-sm text-blue-700 hover:underline dark:text-blue-500">Lost Password?</a>  -->
                </div>
                <button type="submit"
                        class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Guardar cambios
                </button>

            </form>
        </div>
    </div>

</div>

</body>
</html>