<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transacciones</title>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-white dark:bg-gray-800">
<!-- navbar-->
<navbar th:replace="fragments/header_footer::navbar_movimientos">
    viene desde otro archivo
</navbar>
<!-- container general del contenido-->
<div class="px-6 dark:bg-gray-700 dark:text-gray-400 h-screen">

    <!-- TITULO GRANDE-->
    <div th:replace="fragments/header_footer::titulo_app"> viene desde otro archivo</div>

    <!-- BOTON DE NUEVO--   solo disponible si es administrador -->
    <button data-modal-toggle="new-element-modal"
            class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
        Nueva transacción
        <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
        </svg>
    </button>

    <!-- TABLA TRANSACCIONES DE X EMPRESA-->
    <div class="py-6"></div>
    <div class=" relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                    Concepto
                </th>
                <th scope="col" class="py-3 px-6">
                    Monto
                </th>
                <th scope="col" class="py-3 px-6">
                    Empleado
                </th>
                <th scope="col" class="py-3 px-6">
                    Fecha modificación
                </th>
                <th scope="col" class="py-3 px-6">
                    Acciones
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="movement :${movements}"
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700  hover:bg-gray-50 dark:hover:bg-gray-600">
                <th th:text="${movement.concepto}" scope="row"
                    class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Concepto
                </th>
                <td th:text="${movement.monto}" class="py-4 px-6">
                    Monto
                </td>
                <!-- empleado -->
                <td th:text="${movement.empleado.nombre}" class="py-4 px-6">
                    Empleado
                </td>
                <td th:text="${movement.modificado.toString()}" class="py-4 px-6">
                    Fecha modificado
                </td>
                <td class="py-4 px-6">
                    <div>
                        <a href="#" type="button" data-modal-toggle="delete-user-modal"
                           class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Editar</a>
                        <div class="px-4"></div>
                        <a href="#" type="button" data-modal-toggle="delete-user-modal"
                           class="font-medium text-red-600 dark:text-red-500 hover:underline">Remover</a>
                    </div>
                </td>
                <!--modal de borrar usuario -->
                <!--                <div  th:attr = "id=${'delete-user-modal' + empleado.id}" tabindex="-1"  -->
                <div id="delete-user-modal" tabindex="-1"
                     class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:inset-0 h-modal md:h-full">
                    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <button type="button"
                                    class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                                    data-modal-toggle="delete-user-modal">
                                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                          clip-rule="evenodd"></path>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                            <div class="p-6 text-center">
                                <svg aria-hidden="true" class="mx-auto mb-4 w-14 h-14 text-gray-400 dark:text-gray-200"
                                     fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">¿Está seguro de
                                    eliminar el usuario?</h3>
                                <h4 th:text="${movement.concepto}"></h4>
                                <!--                                <a th:href="@{/users/{id}/delete}(id = ${empleado.id})"> -->

                                <!--                                <a th:href="@{/users/{id}/delete(id = {$empleado.id})}" > -->
                                <a href="#">
                                    <button data-modal-toggle="delete-user-modal" type="button"
                                            class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                                        Si, estoy seguro
                                    </button>
                                </a>
                                <button data-modal-toggle="delete-user-modal" type="button"
                                        class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                                    No, cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
        <div class="py-6 font-medium text-gray-900 dark:text-white"> Total Movimientos <span th:text="${totalMovimientos}">0000</span></div>
    </div>


    <!--MODAL NUEVA TRANSACCION -->
    <div id="new-element-modal" tabindex="-1" aria-hidden="true"
         class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
        <div class="relative p-4 w-full max-w-md h-full md:h-auto">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <button type="button"
                        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                        data-modal-toggle="new-element-modal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                <div class="py-6 px-6 lg:px-8">
                    <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Registra la nueva
                        transacción</h3>

                    <form class="space-y-6" method="POST" th:action="@{/enterprises/{id}/movements(id = ${empresa_id})}"
                          th:object="${nuevoMovimiento}">
                        <div>
                            <label for="concepto"
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Concepto</label>
                            <input type="text" th:field="*{concepto}" id="concepto"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                   placeholder="Pago a proveedor" required>
                        </div>
                        <div>
                            <label for="monto" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Monto</label>
                            <input type="number" th:field="*{monto}" id="monto"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                   placeholder="200000" required>
                        </div>

                        <!-- escoger quien realiza la transaccion -->
                        <!--
                                                <label for="empleado"
                                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Empleado</label>
                                                <select id="empleado" th:field="*{empleado}"
                                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                                    <option th:each="enterprise: ${empresas}" th:value="${enterprise.id}"
                                                            th:text="${enterprise.nombre}">Empresa
                                                    </option>
                                                </select>
                        -->

                        <button type="submit"
                                class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Registrar Transacción
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- FOOTER-->

<footer th:replace="fragments/header_footer::footer">
    viene desde otro archivo
</footer>

<script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</body>

</html>